body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.circle {
    background-color: red;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.circle img {
    width: 100%;
    height: 100%;
}